.cta a{
	text-decoration: none;
	color: white;
}

.border-normal{
	border: solid 1px #707070;
}

.border-active{
	border-top: solid 1px #707070;
	border-bottom: solid 2px white;
}

.startup-form{

}

.input-group-prepend .input-group-text{
	background-color: #fff;
	opacity: 0.4;
}

.form-control{
	background-color: #fff;
	opacity: 0.4;
}

.table-container{
	position: relative;
}

.table-1 .user1{
	position: absolute;
	top: 5%;
	left: 10%;
	width: 40px;
	text-align: center;
}

.table-1 .user2{
	position: absolute;
	top: 0%;
	left: 44%;
	width: 40px;
	text-align: center;
}

.table-1 .user3{
	position: absolute;
	top: 5%;
	right: 10%;
	width: 40px;
	text-align: center;
}

.table-1 .user4{
	position: absolute;
	top: 25%;
	left: 1%;
	width: 40px;
	text-align: center;
}

.table-1 .user5{
	position: absolute;
	top: 25%;
	right: 0%;
	width: 40px;
	text-align: center;
}

.table-1 .user6{
	position: absolute;
	bottom: 25%;
	left: 1%;
	width: 40px;
	text-align: center;
}

.table-1 .user7{
	position: absolute;
	bottom: 25%;
	right: 0%;
	width: 40px;
	text-align: center;
}

.table-1 .user8{
	position: absolute;
	bottom: 5%;
	left: 9%;
	width: 40px;
	text-align: center;
}

.table-1 .user9{
	position: absolute;
	bottom: 0%;
	left: 32%;
	width: 40px;
	text-align: center;
}

.table-1 .user10{
	position: absolute;
	bottom: 0%;
	right: 32%;
	width: 40px;
	text-align: center;
}

.table-1 .user11{
	position: absolute;
	bottom: 5%;
	right: 9%;
	width: 40px;
	text-align: center;
}

.tabletext-1{
	width: 40vw;
	position: absolute;
	top: 30%;
	right: 27%;
	background-color: #000;
	opacity: 0.5;
	color: #fff;
	font-size: 0.7em;
}

.user-content p{
	background-color: var(--c-dark-blue);
	border: 1px solid var(--c-gray);
	color: white;
	font-size: 0.4em;
	width: 40px;
	float: left;
}

.user-content{
	width: 40px;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.table-2 .user1{
	position: absolute;
	top: 5%;
	left: 10%;
	width: 40px;
	text-align: center;
}

.table-2 .user2{
	position: absolute;
	top: 0%;
	left: 44%;
	width: 40px;
	text-align: center;
}

.table-2 .user3{
	position: absolute;
	top: 5%;
	right: 10%;
	width: 40px;
	text-align: center;
}

.table-2 .user4{
	position: absolute;
	top: 40%;
	left: 1%;
	width: 40px;
	text-align: center;
}

.table-2 .user5{
	position: absolute;
	top: 40%;
	right: 0%;
	width: 40px;
	text-align: center;
}

.table-2 .user6{
	position: absolute;
	bottom: 5%;
	left: 9%;
	width: 40px;
	text-align: center;
}

.table-2 .user7{
	position: absolute;
	bottom: 0%;
	left: 32%;
	width: 40px;
	text-align: center;
}

.table-2 .user8{
	position: absolute;
	bottom: 0%;
	right: 32%;
	width: 40px;
	text-align: center;
}

.table-2 .user9{
	position: absolute;
	bottom: 5%;
	right: 9%;
	width: 40px;
	text-align: center;
}

.line{
	border-top: 1px solid gray;
}

.startup-form{
	position: relative;
}

.label1{
	position: absolute;
	top: 2%;
	left: 14vw;
	z-index: 9999;
	font-size: 0.6em;
}

.green-input{
	width: 40px;
	outline: none;
	border: 0px solid;
	color: #fff;
}

.green-input-date{
	width: 140px;
	outline: none;
	border: 0px solid;
	color: #fff;
}

.green-input-time{
	width: 120px;
	outline: none;
	border: 0px solid;
	color: #fff;
}